Finite-Difference-Method/

# Ignore all .bin files anywhere
*.bin

*.png

# Ignore specific files in test_3D directory
Alternance/derivative_implementation/test_3D/temporary.txt
Alternance/derivative_implementation/test_3D/test3
Alternance/derivative_implementation/test_2D/test3

# Build directories
build/
bin/
obj/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
*.bin

Alternance/2025-10-09-Note-10-57.xopp

