Finite-Difference-Method/

# Ignore all .bin files anywhere
*.bin

*.png

# Ignore specific files in test_3D directory
Optimisation_Avancee/AMON/__pycache__
Optimisation_Avancee/AMON/CODE/turbine_layouts
Optimisation_Avancee/AMON/CODE/__pycache__
Optimisation_Avancee/AMON/CODE/layout_new_000.txt
Optimisation_Avancee/AMON/CODE/turbine_layouts_test
# Build directories
build/
bin/
obj/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
*.bin
*.txt
*.pt
# -------------------------------
# LaTeX build files and auxiliaries
# -------------------------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.pdfsync
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.toc
*.vrb
*.xdv
*.xmpi
*.xwm

# -------------------------------
# Editor backup and temp files
# -------------------------------
*~
*.swp
*.bak
*.tmp
*.backup
*.DS_Store
Thumbs.db

# -------------------------------
# VS Code LaTeX Workshop temporary files
# -------------------------------

latex.out/
out/
build/
