Finite-Difference-Method/

# Ignore all .bin files anywhere
*.bin

*.png

# Ignore specific files in test_3D directory
derivative_implementation/test_3D/temporary.txt
derivative_implementation/test_3D/test3
derivative_implementation/test_2D/test3

# Build directories
build/
bin/
obj/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
*.bin

